$border-color: #e0e0e0;
$color-red: #e2401c;

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--certificates a:before{
	content: "\f559";
    margin-right: 8px;
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--courses a:before{
	content: "\f19d";
    margin-right: 8px;
}

/*
 * ====================================================================
 * Styles for the Courses form in "My Account"
 * Based on the appearance of the WooCommerce form.
 * ====================================================================
 */

.woocommerce-MyAccount-content {
    .woocerti-courses-header {
        .p-button-create {
            a {
                margin: 0;
                width: initial;
            }
        }
    }
    form {
        /* General form style */
        display: flex;
        flex-direction: column;

        /* Row container to group fields */
        .form-row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            /* Style for individual fields within a row */
            .form-row-field {
                margin-right: 1em;
                &:last-child {
                    margin-right: 0;
                }

                // select {
                //     background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
                //     background-repeat: no-repeat;
                //     background-position: right 10px center;
                //     outline: none;
                // }

                .iti {
                    width: 100%;
                }
            }

            .no-margin-right {
                margin-right: 0 !important;
            }
        }

        .p-buttons {
            .button {
                margin-right: 1em;
            }

            .btn-course {
                margin: 0;
                margin-top: 1rem;
                width: initial;
                padding: 5px 20px !important;
                text-align: center;
                border-radius: 20px;
                &:last-child {
                    margin-left: 1em;
                }
            }
        }

        /* Width rules for fields */
        > p {
            flex-basis: 100%; /* 100% width for single-column fields */
            .form-required-fields-note {
                font-style: italic;
            }
        }
        > .p-legends {
            margin: 1.5rem 0 .5rem 0;
        }
        .form-row {
            .row-check {
                display: flex;
                margin-bottom: 1em;

                input,
                label {
                    cursor: pointer;
                }

                input:focus {
                    border: none;
                    box-shadow: none;
                    outline: none;
                }
            }

            .form-row-field {
                flex: 1 1 calc(50% - 1em); /* Each field takes 50% of the width */
            }

            /* Style for rows with three fields */
            &--three-fields {
                .form-row-field {
                    flex: 1 1 calc(33.333% - 1em); /* Each field takes one-third of the width */
                }
            }

            .quantity-input-wrapper {
                label {
                    font-weight: 600;
                }
                input {
                    width: auto;
                }
            }
        }
    }
    .woocommerce-MyAccount-courses-table {
        margin-top: 1.5em;
    }
}

.woocerti-collapsible-info {
    summary {
        cursor: pointer;
    }
}

.woocerti-bulk-upload {
    #woocerti-bulk-upload-form {
        .description {
            margin-bottom: 0;
        }
    }
}

/* Media query for smaller screens (mobile mode) */
@media (max-width: 768px) {
    .woocommerce-MyAccount-content form {
        .form-row {
            flex-direction: column;
            margin-bottom: 0;

            .form-row-field {
                flex: 1 1 100% !important;
                margin-right: 0;
            }
        }
    }
}

.error-message {
    color: $color-red;
}

.success-message {
    font-weight: bold;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

/* Styles for client-side validation */
.woocommerce-MyAccount-content form {
    .validation-message {
        display: block;
        margin-top: 0.5em;
        font-size: 0.9em;
        color: $color-red;
        font-weight: 500;
        visibility: hidden;
    }

    .form-row-field {
        .validation-message {
            margin-top: 0.5em;
        }
    }
}
/* Style for input when it has an error */
.woocommerce-MyAccount-content form {
    .input-error {
        border-color: $color-red !important;
        box-shadow: inset 0 1px 1px $color-red !important;
    }

    .validation-message {
        visibility: visible;
    }
}

/* Style for the "Issue Certificate" button dropdown */
.woocerti-dropdown {
    position: relative;
    display: inline-block;

    .woocerti-issue-button {
        position: relative;
        padding-right: 30px !important;

        &::after {
            content: '\23F7';
            font-size: 15px;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            display: inline-block;
        }
    }

    .woocerti-dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border: 1px solid #ddd;
        border-radius: 4px;
        top: 100%;
        margin-top: 5px;

        a {
            color: #333;
            padding: 12px 16px;
            text-decoration: none !important;
            display: block;
            text-transform: capitalize;

            &:hover {
                background-color: #f1f1f1;
            }
        }
    }
}

/* ====================================================================
 * Styles for the bulk upload form
 * ====================================================================
 */
#file-drop-area {
    border: 2px dashed #ccc;
    padding: 2em;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 150px; // Asegura una altura mínima para el área de drop

    &:hover {
        background-color: #f8f8f8;
    }

    &.dragover {
        background-color: #e8e8e8;
        border-color: #3498db;
    }

    p {
        margin: 0.5em 0;
        color: #777;
        line-height: 1.5;
    }
}

.file-name-display {
    display: block;
    margin-top: 1em;
    font-weight: bold;
    color: #3498db;
}
.woocerti-toggle-details {
    cursor: pointer;
    margin-left: 5px;
    color: $color-red;
}

.woocerti-error-details {
    border: 1px solid $border-color;
    td {
        background-color: #fcebeb;
        border-top: none;
    }
}

.error-detail-content {
    padding: 10px 15px;
    border-left: 3px solid $color-red;
}