@charset "UTF-8";
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--certificates a:before {
  content: "\f559";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--courses a:before {
  content: "\f19d";
}

/*
 * ====================================================================
 * Styles for the Courses form in "My Account"
 * Based on the appearance of the WooCommerce form.
 * ====================================================================
 */
.woocommerce-MyAccount-content form {
  /* General form style */
  display: flex;
  flex-direction: column;
  /* Row container to group fields */
  /* Width rules for fields */
}
.woocommerce-MyAccount-content form .form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* Style for individual fields within a row */
}
.woocommerce-MyAccount-content form .form-row .form-row-field {
  margin-right: 1em;
}
.woocommerce-MyAccount-content form .form-row .form-row-field:last-child {
  margin-right: 0;
}
.woocommerce-MyAccount-content form .form-row .form-row-field select {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  outline: none;
}
.woocommerce-MyAccount-content form .form-row .form-row-field .iti {
  width: 100%;
}
.woocommerce-MyAccount-content form .form-row .no-margin-right {
  margin-right: 0 !important;
}
.woocommerce-MyAccount-content form .p-buttons .button {
  margin-right: 1em;
}
.woocommerce-MyAccount-content form > p {
  flex-basis: 100%; /* 100% width for single-column fields */
}
.woocommerce-MyAccount-content form > p .form-required-fields-note {
  font-style: italic;
}
.woocommerce-MyAccount-content form .form-row {
  /* Style for rows with three fields */
}
.woocommerce-MyAccount-content form .form-row .row-check {
  display: flex;
  margin-bottom: 1em;
}
.woocommerce-MyAccount-content form .form-row .row-check input,
.woocommerce-MyAccount-content form .form-row .row-check label {
  cursor: pointer;
}
.woocommerce-MyAccount-content form .form-row .row-check input:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
.woocommerce-MyAccount-content form .form-row .form-row-field {
  flex: 1 1 calc(50% - 1em); /* Each field takes 50% of the width */
}
.woocommerce-MyAccount-content form .form-row--three-fields .form-row-field {
  flex: 1 1 calc(33.333% - 1em); /* Each field takes one-third of the width */
}
.woocommerce-MyAccount-content form .form-row .quantity-input-wrapper label {
  font-weight: 600;
}
.woocommerce-MyAccount-content form .form-row .quantity-input-wrapper input {
  width: auto;
}
.woocommerce-MyAccount-content .woocommerce-MyAccount-courses-table {
  margin-top: 1.5em;
}

/* Media query for smaller screens (mobile mode) */
@media (max-width: 768px) {
  .woocommerce-MyAccount-content form .form-row {
    flex-direction: column;
    margin-bottom: 0;
  }
  .woocommerce-MyAccount-content form .form-row .form-row-field {
    flex: 1 1 100% !important;
    margin-right: 0;
  }
}
.error-message {
  color: #e74c3c;
}

/* Styles for client-side validation */
.woocommerce-MyAccount-content form .validation-message {
  display: block;
  margin-top: 0.5em;
  font-size: 0.9em;
  color: #e74c3c;
  font-weight: 500;
  visibility: hidden;
}
.woocommerce-MyAccount-content form .form-row-field .validation-message {
  margin-top: 0.5em;
}

/* Style for input when it has an error */
.woocommerce-MyAccount-content form .input-error {
  border-color: #e74c3c !important;
  box-shadow: inset 0 1px 1px #e74c3c !important;
}
.woocommerce-MyAccount-content form .validation-message {
  visibility: visible;
}

/* Style for the "Issue Certificate" button dropdown */
.woocerti-dropdown {
  position: relative;
  display: inline-block;
}
.woocerti-dropdown .woocerti-issue-button {
  position: relative;
  padding-right: 30px !important;
}
.woocerti-dropdown .woocerti-issue-button::after {
  content: "⏷";
  font-size: 15px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
}
.woocerti-dropdown .woocerti-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid #ddd;
  border-radius: 4px;
  top: 100%;
  margin-top: 5px;
}
.woocerti-dropdown .woocerti-dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none !important;
  display: block;
  text-transform: capitalize;
}
.woocerti-dropdown .woocerti-dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* ====================================================================
 * Styles for the bulk upload form
 * ====================================================================
 */
#file-drop-area {
  border: 2px dashed #ccc;
  padding: 2em;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 150px;
}
#file-drop-area:hover {
  background-color: #f8f8f8;
}
#file-drop-area.dragover {
  background-color: #e8e8e8;
  border-color: #3498db;
}
#file-drop-area p {
  margin: 0.5em 0;
  color: #777;
  line-height: 1.5;
}

.file-name-display {
  display: block;
  margin-top: 1em;
  font-weight: bold;
  color: #3498db;
}/*# sourceMappingURL=style.css.map */